.user1{
    background-color: blue;
}
.user2{
    background-color: green;
}
.user3{
    background-color: red;
}
.user4{
    background-color: sandybrown;
}
.user5{
    background-color: yellow;
}
